<div class="row">
    @for (favorite of Favorite; track favorite.id_Favoris) {
        @if (favorite.movie) {
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="item">
                    <div class="item__cover">
                        <img src="{{ favorite.movie.cover }}" alt="">
                        <a href="favorite/{{ favorite.movie.id_Movie }}" class="item__play">
                            <i class="ti ti-player-play-filled"></i>
                        </a>
                        <span class="item__rate item__rate--green">{{ favorite.movie.note }}</span>
                        <button class="item__favorite" type="button">
                            <a href="/favorite/Delete/{{ favorite.id_Favoris }}" class="ti ti-trash"></a>
                          </button>
                    </div>
                    <div class="item__content">
                        <h3 class="item__title"><a href="favorite/{{ favorite.movie.id_Movie }}">{{ favorite.movie.titre }}</a></h3>
                        <span class="item__category">
                            <a href="#">{{ favorite.movie.genre }}</a>
                            <a href="#">{{ favorite.movie.dateDeSortie }}</a>
                        </span>
                    </div>
                </div>
            </div>
        } @else if (favorite.series) {
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="item">
                    <div class="item__cover">
                        <img src="{{ favorite.series.cover }}" alt="">
                        <a href="favorite/{{ favorite.series.id_Series }}" class="item__play">
                            <i class="ti ti-player-play-filled"></i>
                        </a>
                        <span class="item__rate item__rate--green">{{ favorite.series.note }}</span>
                        <span class="Saisons">{{ favorite.series.nombreSaisons }} Saisons</span>
                        <button class="item__favorite" type="button">
                            <a href="/favorite/Delete/{{ favorite.id_Favoris }}" class="ti ti-trash"></a>
                          </button>
                    </div>
                    <div class="item__content">
                        <h3 class="item__title"><a href="favorite/{{ favorite.series.id_Series }}">{{ favorite.series.titre }}</a></h3>
                        <span class="item__category">
                            <a href="#">{{ favorite.series.genre }}</a>
                            <a href="#">{{ favorite.series.dateDeSortie }}</a>
                        </span>
                    </div>
                </div>
            </div>
        }
    }
</div>
